.Tabs{
	padding:1rem;
	width: 100%;
}

.TabHeaders{
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.TabHeader{
	width: 100%;
	display: flex;
	justify-content: center;
}

@media(max-width: 442px){
	.TabHeaders{
		flex-direction: column;
	}
}