.NavHeader{
	height: 10vh;
	width:100%;
	background-color: #272e71;
	box-shadow: 0 2px 5px;
}
.Sidebar{
	width:273px;
	flex-shrink: 0;
	height: 90vh;
	padding: 1rem;
}

.SidebarContent{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0 2px 5px;
}

.Content{
	display: flex;
}

@media(max-width: 800px){
	.Sidebar{
		display: none
	}
}